<div class="shape-map">
    <button type="button" class="button button-large iconGrow_{{happinessData.level}}" ng-class="{true: 'iconGrow_5'}[isHappinessLevelSet]"
            on-touch="startHappiness()" on-release="stopHappiness()"><i class=" icon ion-happy "></i></button>


    <!--form ng-submit="addHappiness()" class="list" ng-show="isHappinessLevelSet">
      <div class="item range">
        <i class="icon ion-happy-outline"></i>
        <input type="range" ng-model="happinessData.level" min="{{happinessRangeMin}}" max="{{happinessRangeMax}}" step="1">
        <i class="">{{happinessData.level}}</i>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">What is making you so happy?</span>
        <textarea type="text" ng-model="happinessData.message" placehoder="#Hackhappines"></textarea>
      </label>
      <div class="item item-toggle">
        Geolocale
        <label class="toggle">
          <input type="checkbox" ng-model="allowGeolocale" ng-change="toggleAllowGeolocale()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item" ng-show="geolocating || happinessData.city || happinessData.country">
        <ion-spinner ng-show="geolocating"></ion-spinner>
        <p ng-if="happinessData.city && happinessData.city">
          <span ng-if="happinessData.city">{{happinessData.city}}</span><span ng-if="happinessData.city && happinessData.city">, </span><span ng-if="happinessData.country">{{happinessData.country}}</span>
        </p>
      </div>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Submit</button>
      </label>
    </form-->
</div>