<div class="meter-zone" ng-class="{'visible': happinessData.level, 'static':meterConfig.staticPos}">
    <div class="meter-icons">
        <div class="meter-face face_1" ng-class="{'active' : happinessData.level == 1}"></div>
        <div class="meter-face face_2" ng-class="{'active' : happinessData.level == 2}"></div>
        <div class="meter-face face_3" ng-class="{'active' : happinessData.level == 3}"></div>
        <div class="meter-face face_4" ng-class="{'active' : happinessData.level == 4}"></div>
        <div class="meter-face face_5" ng-class="{'active' : happinessData.level == 5}"></div>
    </div>
    <div class="meter-progress" ng-hide="meterConfig.hideBar">
        <div class="meter-bar st_{{happinessData.level}}"></div>
    </div>
</div>