<ion-view view-title="About">
  <ion-content>
    <ion-list>
      <ion-item class="item-text-wrap text-center">La aplicación ha sido desarrollada de manera altruista por la comunidad de desarrolladores.</ion-item>
      <ion-item class="item-divider">
        Desarrolladores
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/davidpich.png">
        <h2>David Pich</h2>
        <p></p>
      </ion-item>
      <ion-item class="item-avatar item-text-wrap">
        <img src="img/jorgecasar.png">
        <h2>Jorge del Casar</h2>
        <p>Co-founder & CTO, Geeks2Team.</p>
      </ion-item> 
    </ion-list>
  </ion-content>
</ion-view>
