<ion-view view-title="Map">
  <ion-content class="fullHeight">
  	<ui-gmap-google-map class="fullHeight" center='map.center' 
  						zoom='map.zoom'
  						control='map.control'
  						bounds='map.bounds'
  						options='map.options'
              events='map.events'
              pan="true">
  		<ui-gmap-markers 	models="markers.models"
  							coords="'self'"
  							icon="'icon'"
                control="markers.control"
                options="'options'">
        </ui-gmap-markers>
  	</ui-gmap-google-map>
  </ion-content>
</ion-view>
