<ion-view view-title="Account">
	<ion-nav-buttons side="secondary">
		<button class="button button-clear" ng-click="doLogout()" ng-show="user">Logout</button>
		<button class="button button-clear" ng-click="login()" ng-hide="user">Login</button>
	</ion-nav-buttons>
	<ion-content>
		<ion-list ng-show="user">
			<ion-item ng-class="{
				'item-thumbnail-left': user.img
			}">
				<img ng-show="user.img" ng-src="{{user.img}}">
				<h2>{{user.firstName}}</h2>
				<p>{{user.username}}</p>
			</ion-item>
			<ion-item class=" item-divider">
				My happinessess
			</ion-item>
			<ion-item ng-repeat="happiness in happinesses track by $index" ng-init="happinessData.level = happiness.level" type="item-text-wrap">
				<hackhappines-happy-meter></hackhappines-happy-meter>
				<h2>{{happiness.message}}</h2>
				<p ng-if="happiness.city && happiness.city">
					<span ng-if="happiness.city">{{happiness.city}}</span>
				</p>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
