<ion-view view-title="About">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap text-center">The Happy App is a contribution from the Community to the Community. It has been possible thanks to AngularBeers and WebVisions.
            </ion-item>

            <div class="aboutProfile responsive-grid-break">
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/davidpich.jpg">

                        <h2>David Pich</h2>
                    </ion-item>
                </div>
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/jorgecasar.png">

                        <h2>Jorge del Casar</h2>
                    </ion-item>
                </div>
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/brad_smith.jpg">

                        <h2>Brad Smith</h2>
                    </ion-item>
                </div>
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/gines_ortiz.jpg">

                        <h2>Ginés Ortiz</h2>
                    </ion-item>
                </div>
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/sebastian_rajo.jpg">

                        <h2>Sebastian Rajo</h2>
                    </ion-item>
                </div>
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/etah_chen.jpg">

                        <h2>Etah Chen</h2>
                    </ion-item>
                </div>
                <div class="col col-50">
                    <ion-item class="item-avatar item-text-wrap">
                        <img src="img/clint_pitts.jpg">

                        <h2>Clint Pitts</h2>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
