/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 500px; }
.label-background { background-color: $light }

/** Styling for the username field **/
.item.has-error {  
  border-bottom: 2px solid $assertive;
}

/** Styling for the password field when an error exists**/
.item.has-error-lr {  
  border-left: 2px solid $assertive;
  border-right: 2px solid $assertive;
}

/** Styling for the password field when an error has been resolved**/
.item.valid-lr {  
  border-left: 2px solid $balanced;
  border-right: 2px solid $balanced;
}

/** Styling for the error text and container **/
.form-error {
  color: $assertive;
}